body {
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
    background: url('your-image-url.png') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

.logo {
    text-align: center;
    padding: 2em;
}

.logo img {
    max-width: 200px; /* Adjust the size as needed */
    height: auto;
}

header {
    text-align: center;
}

header img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

nav {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1em;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
    color: #808080; /* Grey color */
    display: none;
}

.menu {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li {
    margin: 0 1em;
}

.menu a {
    color: #808080; /* Grey color */
    text-decoration: none;
    padding: 1em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.menu a:hover {
    background-color: #808080; /* Grey color */
}

.content, .services, .portfolio, .contact {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.content h1, .services h2, .portfolio h2, .contact h2 {
    color: #f39c12; /* Orange color */
}

.content p, .services ul, .portfolio div, .contact p {
    color: #fff;
}

.services ul {
    list-style: none;
    padding: 0;
}

.services li {
    margin-bottom: 10px;
}

.portfolio-images img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Media query for mobile responsiveness */
@media only screen and (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.7);
        text-align: center;
        z-index: 1;
    }

    .menu.active {
        display: flex;
    }
}
